{% extends 'Base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <title>Akademi Kütüphanesi</title>

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/vendors.min.css' %}">
    <link rel="stylesheet" type="text/css"
        href="{% static 'app-assets/vendors/css/tables/datatable/datatables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/file-uploaders/dropzone.min.css' %}">
    <link rel="stylesheet" type="text/css"
        href="{% static 'app-assets/vendors/css/tables/datatable/extensions/dataTables.checkboxes.css' %}">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/menu/menu-types/vertical-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/colors/palette-gradient.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/file-uploaders/dropzone.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/data-list-view.css' %}">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <!-- END: Custom CSS-->

</head>

<body class="vertical-layout vertical-menu-modern dark-layout 2-columns  navbar-floating footer-static  "
    data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" data-layout="dark-layout">

    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h3 class="content-header-title float-left mb-0">Akademi Kütüphanesi</h3>

                        </div>

                           <div class="col-12">
                           <br>
                            <p class="content-header-title float-left mb-0">Uygulamamız içerisindeki Türkçe eğitimleri tamamladıktan sonra kütüphanemizde bulunan, alanının en kaliteli kaynaklarından derlenen kitapları okuyarak kodlama bilgilerinizi ve yabancı dil yeteneğinizi pekiştirebilirsiniz.</p>

                        </div>
                    </div>
                </div>
            </div>


                <div class="row">

{% for booksDetail in booksData %}
<div class="col-md-6 col-sm-4">
    <div class="card" style="border-bottom: 2px  #dc3545 solid; height: 550px;">
        <div class="card-header">
            <h4 class="card-title" style="font-size: 14px;">{{booksDetail.to_dict.name}}</h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
            <div class="heading-elements float-right">
                <ul class="list-inline mb-1">
                    <li><a data-action="collapse" title="Daha Fazlası..."><i class="feather icon-maximize text-danger"></i></a></li>
                </ul>
            </div>
        </div>
        <hr>
          <div class="card-content collapse show">
            <div class="card-body macth-height" >
                <div class="position-relative float-right ">
                    <img src="{{ booksDetail.to_dict.avatar }}" class="img-thumbnail" width="180" height="200">
                </div>
                <p><strong>·  Yazar Adı:</strong>  {{ booksDetail.to_dict.author }}</p>
                <p><strong>·  Kitap Dili:</strong>  {{ booksDetail.to_dict.language }}</p>
                <p><strong>·  Sayfa Sayısı:</strong>  {{booksDetail.to_dict.page}}</p>
                <p><strong>·  Yayımlanma Tarihi:</strong>  {{booksDetail.to_dict.year }}</p>

                    <p><strong>·  İndirme Linki:</strong>  <a href="{{ booksDetail.to_dict.link_download }}" class="text-danger">Kitabı İndir</a></p>
                    <p><strong>·  Dosya Boyutu:</strong>  {{ booksDetail.to_dict.size }}</p>
                    <p><strong>·  Dosya Tipi:</strong>  {{ booksDetail.to_dict.type }}</p>
            </div>
            <div class="card-content collapse show">
            <p class="position-relative float-right text-success mr-3 mt-2" style = "font-size: 12px ">{{ booksDetail.to_dict.date }}</p>

            <hr class="w-100">
            <h2 class="ml-2">Özet</h2>
            <div  class="text-light ml-2 mb-2">
                <i style="line-height: 2rem;">{{ booksDetail.to_dict.summary }}</i>
            </div>



        </div>
        </div>


    </div>
</div>
{% endfor %}



                    </div>




                {% endblock content %}
                <!-- END: Content-->

                <div class="sidenav-overlay"></div>
                <div class="drag-target"></div>

                <!-- BEGIN: Vendor JS-->
                <script src="{% static 'app-assets/vendors/js/vendors.min.js' %}"></script>
                <!-- BEGIN Vendor JS-->

                <!-- BEGIN: Page Vendor JS-->
                <script src="{% static 'app-assets/vendors/js/extensions/dropzone.min.js' %}"></script>
                <script src="{% static 'app-assets/vendors/js/tables/datatable/datatables.min.js' %}"></script>
                <script src="{% static 'app-assets/vendors/js/tables/datatable/datatables.buttons.min.js' %}"></script>
                <script
                    src="{% static 'app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js' %}"></script>
                <script src="{% static 'app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js' %}"></script>
                <script src="{% static 'app-assets/vendors/js/tables/datatable/dataTables.select.min.js' %}"></script>
                <script
                    src="{% static 'app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js' %}"></script>
                <!-- END: Page Vendor JS-->

                <!-- BEGIN: Theme JS-->
                <script src="{% static 'app-assets/js/core/app-menu.js' %}"></script>
                <script src="{% static 'app-assets/js/core/app.js' %}"></script>
                <script src="{% static 'app-assets/js/scripts/components.js' %}"></script>
                <!-- END: Theme JS-->

                <!-- BEGIN: Page JS-->
                <script src="{% static 'app-assets/js/scripts/ui/data-list-view.js' %}"></script>
                <!-- END: Page JS-->

</body>
<!-- END: Body-->


</html>